.MuiAlert-standardSuccess {
    background-color: var(--twitter-color) !important;
    color: white !important;
    font-size: 15px !important;
    font-weight: 500 !important;
}
.MuiAlert-icon{
    color:var(--twitter-background) !important
}